@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.7;
}


@media (max-width: 500px) {
    body {
        flex-wrap: wrap;
    }
    .banner-area {
        background-size: cover;
        background-position: center center;
        display: grid;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .banner-area h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 360px) {
    .banner-area{
        width: 100% !important;
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
      }
      .banner-area h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    }
 
 



  a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Mono', monospace;  }
  


  .banner-area {
        width: 100%;
        height: 500px;
        top: 100px;
        background-image: url(https://images.pexels.com/photos/6940989/pexels-photo-6940989.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-size: cover;
        background-position: center center;
        display: grid;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }

  .banner-area h1 {
        padding-top: 8%;
        font-size: 70px;
        font-family: 'Roboto Mono', monospace !important;        
        color: white;
        grid-area: center;
        text-align: center; 
        margin-right: auto;   
        margin-left: 100px;
  }

   h1, h2, .level {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 26px;
    font-weight: bold;
  }

  li {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;

  }

  .grid {
    display: flex;
  }

  #learn-more {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
    padding: 0;


  }


  
  #learn-more .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
  
  @media (max-width: 550px) {
    #learn-more .icon {
      display: none;
    }
  }
  
  #learn-more .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  
  @media (max-width: 550px) {
    #learn-more .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 125px;
      margin-bottom: 10%;
    }
  }
  
  @media (max-width: 650px) {
    #learn-more {
      margin-top: 5%;
      margin-bottom: 15%;
    }
    #learn-more .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }  

  #recipe {
    margin-top: 50px;
  }

  li {
    list-style-type: none;
  }

  #shop-now {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 8px;
  }
  .product > .level {
    background-color: rgba(255, 140, 0, 0.247);
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }

  .btn {
    background-color: darkorange; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
  }
  
  .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  @media (max-width: 800px) {
    #shop-now {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    #recipe {
      margin-top: 50px;
    }
  }